:root {
    /* Only include this part if you wish to change these variables */
    --add-custom-status-text: "Add custom status";
}

.visual-refresh {
  .inner_c0bea0 {
    > header:has(.headerInner__24502){
      min-height: calc(var(--custom-user-profile-banner-height) + 85px) !important;
    }

    >.header__5be3e:has(.container_ab8609) {
      min-height: calc(var(--custom-user-profile-banner-height) + 57px) !important;
    }

    header >.headerInner__24502 > .container_ab8609,
    .header__5be3e >.container_ab8609 {
      top: calc(var(--custom-user-profile-banner-height) + 8px) !important;
      left: 117px !important;

      >.outer_ab8609 {
        max-width: 167px !important;

        &:before {
          height: 20px;
          width: 20px;
          top: 32px;
          left: -25px;
        }

        &:after {
          height: 10px;
          width: 10px;
          top: 31px;
          left: -43px;
        }

        
        >.inner_ab8609 {
          >.addStatusIcon_ab8609 {
            margin-right: 0px;
          }

          > [data-text-variant="text-sm/normal"] {
            font-size: 0;
  
            &:after {
              content: var(--add-custom-status-text);
              font-size: 14px;
            }
          }
        }
      }
    }

    header > .headerInner__24502 > .container_ab8609 {
      top: 35px !important;
      left: 180px !important;
      transform: scale(1.15);

      >.outer_ab8609:after{
        top: 26px;
      }
    }
  }
}
